<div class="title">
  <h1 class="titleHeading">Danh sách Sâm</h1>
  <div class="Frame-1864">
    <h2 class="-loi-sm">{{ amount }}</h2>
    <div class="right-actions">
      <div type="button" class="search-bar">
        <img
          src="./assets/image/search.png"
          srcset="
            ./assets/image/search@2x.png 2x,
            ./assets/image/search@3x.png 3x
          "
          class="search"
        />
        <input type="text" placeholder="Tìm kiếm" />
      </div>
      <div type="button" class="Buttons" (click)="HandleSort()">
        <span class="material-symbols-outlined"> filter_list </span>
      </div>
      <div type="button" class="Add" (click)="HandleAddGinseng()">
        <span class="material-symbols-outlined"> add </span>
        <span class="Thm-hnh-nh-c-sn">Thêm mới</span>
      </div>
    </div>
  </div>
</div>
<table>
  <tr class="heading-row">
    <th class="order">STT</th>
    <th class="code">Mã sâm</th>
    <th class="name">Tên sâm</th>
    <th class="date">Ngày tạo</th>
    <th class="link">Sản phẩm liên kết</th>
    <th class="handle">Thao tác</th>
  </tr>

  <tr *ngFor="let item of ginseng; let i = index" class="content-row">
    <td class="order">{{ i + 1 }}</td>
    <td class="code">{{ item?.code }}</td>
    <td class="name">{{ item?.name }}</td>
    <td class="date">{{ item?.created_date | date : "dd/MM/yyyy" }}</td>
    <td class="link">{{ item?.appearanceCount }}</td>
    <td class="handle">
      <div type="button" (click)="handleUpdate(item?.id)" >
        <svg
        width="25"
        height="24"
        viewBox="0 0 25 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m14.559 9.02.92.92L6.419 19h-.92v-.92l9.06-9.06zm3.6-6.02c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83a.996.996 0 0 0 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3.499 17.25V21h3.75l11.06-11.06-3.75-3.75z"
          fill="#22493B"
        />
      </svg>
      </div>

      <div type="button" (click)="HandleDelte(item?.id)">
        <svg
          width="25"
          height="24"
          viewBox="0 0 25 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.5 9v10h-8V9h8zM15 3h-5L9 4H5.5v2h14V4H16l-1-1zm3.5 4h-12v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"
            fill="#22493B"
          />
        </svg>
      </div>
      
    </td>
  </tr>
</table>
<div class="pagination">
  <div class="items-per-page">
    <span class="S-dng-trn-trang"> Số dòng trên trang: </span>
    <select
      class="form-select form-select-sm"
      aria-label="Small select example"
      (change)="HandleClick($event)"
    >
      <option value="10">10</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
    </select>
  </div>
  <div class="paging">
    <button
      type="button"
      class="material-symbols-outlined left"
      (click)="HandlePrevPage()"
      [disabled]="isPrev"
    >
      chevron_left
    </button>
    <span id="first" class="unactive-atom">
      {{ item1 }}
    </span>
    <span id="second" *ngIf="item2" class="unactive-atom">
      {{ item2 }}
    </span>
    <span id="third" *ngIf="item3" class="unactive-atom">
      {{ item3 }}
    </span>
    <button
      type="button"
      class="material-symbols-outlined right"
      [disabled]="isNext"
      (click)="HandleNextPage()"
    >
      chevron_right
    </button>
  </div>
</div>

<section class="z-3 position-fixed section-placeholder" *ngIf="isAdd">
  <div class="modal_overlay" >
    <div class="loading" *ngIf="loading">
      <div class="spinner-grow" role="status" >
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="modal_inner">

      <div class="form_heading">
        <span class="Title"> {{titleForm}}</span>
        <button
          class="material-symbols-outlined"
          id="cancel"
          style="color: #22493b; background-color: #e2f1ef; border: none"
          type="button"
          (click)="handleClose()"
        >
          close
        </button>
      </div>
      <form id = "inputForm" [formGroup]="addForm" novalidate >
        <div class="inner">
          <div class="inputs">
            <span class="Thng-tin-chung"> Thông tin chung </span>
            <div class="row">
              <div class="input-code">
                <label>
                  Mã sâm
                  <span style="color: red"> * </span>
                </label>
                <input
                  
                  type="text"
                  style="color: black"
                  placeholder="Nhập mã sâm của bạn vào đây"
                  formControlName="code"
                  required
                  id="codeInput"
                  
                  #code
                  [disabled]="isEdit.valueOf() "
                />
              </div>
              <div class="input-name" >
                <label>
                  Tên sâm
                  <span style="color: red"> * </span>
                </label>
                <input
                  type="text"
                  style="color: black"
                  placeholder="Nhập tên sâm của bạn vào đây"
                  formControlName="name"
                  id="nameInput"
                  (change)="updateStatus()
                  "
                  required
                  #name
                />
              </div>
            </div>
            <div class="row">
              <div class="input-code " type="button">
                <label style="color: #454c53">
                  Ngày tạo
                  <span style="color: red"> * </span>
                </label>
                <div class="Placeholder">
                  <input
                    class="Placeholder"
                    type="text"
                    style="color: black"
                    placeholder="Nhập ngày tạo"
                    id="date"
                    #date
                  />
                  <svg
                    class="date_range"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="red"
                    xmlns="http://www.w3.org/2000/svg"
                    type="button"
                    (click)="toggleCalendar()"
                  >
                    <path
                      d="M19 4h-1V3c0-.55-.45-1-1-1s-1 .45-1 1v1H8V3c0-.55-.45-1-1-1s-1 .45-1 1v1H5c-1.11 0-1.99.9-1.99 2L3 20a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 15c0 .55-.45 1-1 1H6c-.55 0-1-.45-1-1V9h14v10zM7 11h2v2H7v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2z"
                      fill="#9EA4AA"
                    />
                  </svg>
                  <mat-card
                    class="demo-inline-calendar-card z-4"
                    *ngIf="showCalendar"
                  >
                    <mat-calendar
                      [(selected)]="selected"
                      (selectedChange)="onDateSelected($event)"
                    ></mat-calendar>
                  </mat-card>
                </div>
              </div>
              <div class="input-resource">
                <label style="color: #454c53; width: 140px">
                  Nguồn gốc
                  <span style="color: red"> * </span>
                </label>
                <input
                  type="text"
                  style="color: black"
                  placeholder="Nhập nguồn gốc ở đây"
                  id="resourceInput"
                  #source
                  formControlName="source"
                  required
                />
              </div>
              <div class="input-certi">
                <label style="color: #454c53; width: 140px">
                  Giấy chứng nhận
                  <span style="color: red"> * </span>
                </label>
                <div class="Placeholder" type="button" (click)="uploadCerti()">
                  <span class="Placeholder" id="display">
                    {{ name_certi }}
                  </span>
                  <svg
                    style="margin-left: 15px"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M17.253 16H6.673c-2.09 0-3.95-1.53-4.15-3.61A3.998 3.998 0 0 1 6.502 8h12.36c1.31 0 2.5.94 2.63 2.24a2.5 2.5 0 0 1-2.49 2.76h-10.5c-.55 0-1-.45-1-1s.45-1 1-1h8.75c.41 0 .75-.34.75-.75s-.34-.75-.75-.75h-8.61c-1.31 0-2.5.94-2.63 2.24a2.5 2.5 0 0 0 2.49 2.76h10.33c2.09 0 3.95-1.53 4.15-3.61a3.993 3.993 0 0 0-3.98-4.39H6.733c-2.87 0-5.44 2.1-5.71 4.96a5.505 5.505 0 0 0 5.48 6.04h10.75c.41 0 .75-.34.75-.75s-.34-.75-.75-.75z"
                      fill="#9EA4AA"
                    />
                  </svg>
                  <input
                    id="certi"
                    type="file"
                    accept="pdf/*"
                    (change)="handleUploadPdf($event)"
                    formControlName="certificate"
                    hidden
                    
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="inputs">
            <span class="Thng-tin-chung"> Thông tin chi tiết </span>
            <div class="row">
              <div class="input-code" style="width: 345px; height: 100px">
                <label style="color: #454c53; width: 150px">
                  Tác dụng của sâm
                  <span style="color: red"> * </span>
                </label>
                <textarea
                
                  class="text-area"
                  placeholder="Nhập mã sâm của bạn vào đây"
                  id="effectInput"
                  formControlName="effect"
                  required
                  #effect
                ></textarea>
              </div>
              <div class="input-name " style="width: 335px; height: 100px">
                <label style="color: #454c53; width: 150px">
                  Thông tin khác (nếu có)
                </label>
                <textarea
                  class="text-area"
                  placeholder="Nhập các thông tin bổ sung tại đây"
                  #more
                  id="more_info"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="inputs">
            <div class="row">
              <div
                (drop)="handleImageDrop($event)"
                (dragover)="allowDrop($event)"
                (dragenter)="handleDragEnter($event)"
                id="drag"
              >
                <div class="attach-image">
                  <label style="color: #3b927d; width: 150px">
                    Hình ảnh sâm (tối đa 5 ảnh)
                    <span style="color: red"> * </span>
                  </label>
                  <div class="upload">
                    <div
                      id="image-render"
                      class="attachment-atom active"
                      *ngFor="let image of imagesArray; let i = index" 
                    >
                      <img [src]="image" alt="" class="render-atom" (load)="imageLoaded()" id ="imageRender" />
                      
                      <div
                        class="deleted"
                        type="button"
                        (click)="deleteImage(i)"
                      >
                        <svg
                          widt  h="16"
                          height="16"
                          viewBox="0 0 16 16"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="clear"
                        >
                          <path
                            d="M12.2 3.807a.664.664 0 0 0-.94 0L8 7.06 4.74 3.8a.664.664 0 1 0-.94.94L7.06 8 3.8 11.26a.664.664 0 1 0 .94.94L8 8.94l3.26 3.26a.664.664 0 1 0 .94-.94L8.94 8l3.26-3.26a.668.668 0 0 0 0-.933z"
                            fill="#fff"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="attachment-atom" *ngIf="isRender">
                      <input
                        id="button"
                        type="file"
                        accept="image/*"
                        formControlName="image"
                        (change)="handleUploadImage($event)"
                        hidden
                      />
                      
                      <svg
                        type="button"
                        (click)="uploadImage()"
                        class="add-image"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M18 13h-5v5c0 .55-.45 1-1 1s-1-.45-1-1v-5H6c-.55 0-1-.45-1-1s.45-1 1-1h5V6c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1z"
                          fill="#22493B"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="action-bar z-2">
          <div class="right-actions">
            <div class="Buttons-cancels btn btn-light" type="button" (click)="closeFunction()">
              <span class="cancel"> Hủy </span>
            </div>
            <button
              [disabled]="!addForm.valid "
              class="Buttons-add btn btn-success"
              type="button"
              (click)="handleAddGinseng(code, name, date, source, effect, more)"
            >
              <span class="add"> {{footerForm}} </span>
            </button>
          </div>  
        </div>
      </form>
    </div>
  </div>
</section>
<section class="z-3 position-fixed section-placeholder" *ngIf="isDelete">

    <div class="modal_overlay">
      <div class="modal_inner" style="width: 727px;height: 363px; margin-top: 10%;">
        <div class="form_heading">
          <span class="Title"> Xóa mục </span>
          <button
            class="material-symbols-outlined"
            id="cancel"
            style="color: #22493b; background-color: #e2f1ef; border: none"
            type="button"
            (click)="closeFunction()">
            close
          </button>
        </div>
        <div class="inner-content">
          <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 7.5h2v2h-2v-2zm0 4h2v6h-2v-6zm1-9c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" fill="#D32F2F"/>
          </svg>
          
          <span class="Content">
              Bạn có chắc chắn xóa mục này?
            </span>
      </div>
      <div class="action-bar">
          <div class="right-actions">
            <div class="Buttons-cancels btn btn-light" type="button" (click)="handleClose()">
              <span class="cancel"> Hủy </span>
            </div>
            <button class="Buttons-delete btn btn-danger" type="button" (click)="HandleDelte(idGinseng)">
              <span class="add"> Xóa </span>
            </button>
          </div>
  </div>
      </div>
  
    </div>
  </section>
