<div  class="title">
    <h1 class="titleHeading">
        Danh sách Sâm
    </h1>
    <div class="Frame-1864">
        <h2 class="-loi-sm">{{amount}}</h2>
        <div class="right-actions">

            <div type = "button"  class="search-bar">
                <img src="./assets/image/search.png"srcset="./assets/image/search@2x.png 2x, ./assets/image/search@3x.png 3x" class="search">
                <input type="text" placeholder="Tìm kiếm">
            </div>
            <div type = "button" class="Buttons" (click)="HandleSort()">
                <span class="material-symbols-outlined">
                    filter_list
                </span>
            </div>
            <div type = "button"  class="Add" (click)="HandleAddGinseng()">
                <span class="material-symbols-outlined">
                    add
                    </span>
                <span class="Thm-hnh-nh-c-sn">Thêm mới</span>
            </div>
        </div>
    </div>
</div>
<table>
    <tr class="heading-row">
        <th class="order">STT</th>
        <th class="code">Mã sâm </th>
        <th class="name">Tên sâm</th>
        <th class="date">Ngày tạo</th>
        <th class="link">Sản phẩm liên kết</th>
        <th class="handle">Thao tác</th>
    </tr>
    
    <tr *ngFor="let item of ginseng; let i = index" class="content-row">
        <td class="order">{{i + 1}}</td>
        <td class="code">{{item?.code}}</td>
        <td class="name">{{item?.name}}</td>
        <td class="date">{{item?.created_date|date:'dd/MM/yyyy' }}</td>
        <td class="link">{{item?.appearanceCount}}</td>
        <td class="handle">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="m14.559 9.02.92.92L6.419 19h-.92v-.92l9.06-9.06zm3.6-6.02c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83a.996.996 0 0 0 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3.499 17.25V21h3.75l11.06-11.06-3.75-3.75z"
                fill="#22493B" />
        </svg>
        <div type = "button" (click)="HandleDelte(item?.code)" >
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M16.5 9v10h-8V9h8zM15 3h-5L9 4H5.5v2h14V4H16l-1-1zm3.5 4h-12v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"
                fill="#22493B" />
        </svg>
        </div>

        </td>
    </tr>
</table>
<div class="pagination">
    <div class="items-per-page">
        <span class="S-dng-trn-trang">
            Số dòng trên trang:
        </span>
        <select class="form-select form-select-sm" aria-label="Small select example" (change)="HandleClick($event)" >
            <option value ="10">10</option>
            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>
            <option value="6" >6</option>
            <option value="7" >7</option>
            <option value="8" >8</option>
            <option value="9" >9</option>
          </select>
    </div>
    <div class="paging" >
        <button  type = "button" class="material-symbols-outlined left"  (click)="HandlePrevPage()" [disabled]="isPrev">
            chevron_left
        </button>
        <span id="first" class="unactive-atom">
            {{item1}}
        </span>
        <span id = "second" *ngIf="item2" class="unactive-atom">
           {{item2}}
        </span>
        <span id ="third"  *ngIf="item3" class="unactive-atom">
            {{item3}}
        </span>
        <button type = "button" class="material-symbols-outlined right"  [disabled]="isNext" (click)="HandleNextPage()">
            chevron_right
        </button>
    </div>
</div>
<section class=" z-3 position-fixed">
<div class="modal_overlay">
    <div class="modal_inner">
        <div class="form_heading">
            <span class="Title">
                Tạo sâm mới
              </span> 
            <span class="material-symbols-outlined" style="color: #22493b;">
            close
            </span>
        </div>
        <div class="inner">
            <div class="inputs">
                <span class="Thng-tin-chung">
                    Thông tin chung
                  </span>
                  <section class="row ">
                    <div class="input-code">
                        <label >
                            Mã sâm
                            <span style="color: red;">
                                *
                            </span>
                        </label>
                        <input type="text" style="color: black; " placeholder="Nhập mã sâm của bạn vào đây">
                    </div>
                      <div class="input-name">
                        <label >
                           Tên sâm
                            <span style="color: red;">
                                *
                            </span>
                        </label>
                        <input type="text" style="color: black; " placeholder="Nhập mã sâm của bạn vào đây">
                      </div>
                  </section>

            </div>
        </div>
    </div>
</div>


</section>
