<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="
background: url('./assets/landscape-1.jpg') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;">
  <section class="position-absolute top-50 start-50 translate-middle">
    <div class="Rectangle">
      <div class="inner-frame " style="display: flex;" id="HOME">
        <span class="ng-nhp">Đăng nhập</span>

        <div class="inputs">
          <div class="input-atom">
            <div class="email">
              <label>Email </label>
            </div>
            <input id = "input" type="email" (input)="onEmailInput($event)" [class.is-invalid]="!validEmail" #emailInput class="Placeholder" placeholder="Nhập email của bạn tại đây">

          </div>
          
          <div class="pw">
            <div class="input-atom">
              <div class="password">
                <label>Mật khẩu </label>
              </div>
              <div class="hstack gap-3">
                <input type="password" id="password"  (input)="onPasswordInput($event)" #passwordInput class="Placeholder" placeholder="Nhập mật khẩu của bạn tại đây">
                <img src="./assets/visibility_off.png " class="visibility_off rounded float-end" type="button"
                  id="visibility" (click)="changeImg()">
              </div>
            </div>
            
            <div class="d-flex mb-3">
              <div class="check-box">
                <label type="button" class="Content">
                  <input type="checkbox" class="p-2">
                  Ghi nhớ đăng nhập
                </label>
                <div class="ms-auto p-2">
                  <div
                    class="link link-offset-2  link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                    type="button" (click)="forgetPassword()">
                    Quên mật khẩu
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-success" [disabled]="emailEmpty || passwordEmpty" (click)="signIn(emailInput, passwordInput)">Đăng nhập</button>
          </div>
        </div>
      </div>
      <div class="inner-frame " style="display: none;" id="forgetPassword">
        <span class="ng-nhp abc" id="forgetPWD" style="margin-bottom: 5%;">Quên mật khẩu</span>
        <div class="inputs" style="width: 490px; height: 256px;">
          <span class="Chng-ti-s-gi-mt-m-xc-thc-vo-email-ca-bn-thit-lp-li-mt-khu">
            Chúng tôi sẽ gửi một mã xác thực vào email của bạn để thiết lập lại mật khẩu!
          </span>
          <div class="input-atom" style="  height: 62px;
          align-self: stretch;
          flex-grow: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 4px;
          padding: 8px 8px 8px 16px;
          border-radius: 4px;
          border: solid 1px #c9cdd2;">
            <div class="email" style="  width: 33px;
            height: 18px;
            flex-grow: 0;
            font-family: Lexend;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #3b927d;">
              <label>Email </label>
            </div>
            <input type="email" class="Placeholder " placeholder="Nhập email của bạn tại đây" style="  height: 21px;
            flex-grow: 1;
            font-family: Lexend;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: #454c53;">
          </div>
          <button type="button" class="btn btn-success " style="  height: 40px;
          align-self: stretch;       
          flex-grow: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 10px;
          padding: 1px 16px;
          border-radius: 8px;
          background-color: #22493b;">Gửi</button>
        </div>
      </div>
    </div>

  </section>
</body>
<router-outlet></router-outlet>

</html>