<!-- <p>
    Hello World
</p> -->
<div class="title">
  <h1 class="titleHeading">Danh sách sản phẩm</h1>
  <div class="Frame-1864">
    <h2 class="-loi-sm">{{ amount }}</h2>
    <div class="right-actions">
      <div class="search-bar">
        <svg
          class="search"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.977 14.471h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49l-4.24-4.26zm-6 0c-2.49 0-4.5-2.01-4.5-4.5s2.01-4.5 4.5-4.5 4.5 2.01 4.5 4.5-2.01 4.5-4.5 4.5z"
            fill="#3B927D"
          />
        </svg>
        <input type="text" placeholder="Tìm kiếm" />
      </div>
      <div type="button" class="Buttons" (click)="HandleSort()">
        <span class="material-symbols-outlined"> filter_list </span>
      </div>
      <div type="button" class="Add" (click)="HandleAdd()" id="create">
        <span class="material-symbols-outlined"> add </span>
        <span class="Thm-hnh-nh-c-sn">Thêm mới</span>
      </div>
    </div>
  </div>
</div>
<table>
  <tr class="heading-row">
    <th class="order">STT</th>
    <th class="code">Mã sản phẩm</th>
    <th class="name">Tên sản phẩm</th>
    <th class="date">Ngày tạo</th>
    <th class="link">Mã QR</th>
    <th class="authenticate">Mã xác thực</th>
    <th class="handle">Trạng thái</th>
    <th class="handle">Thao tác</th>
  </tr>
  <tr *ngFor="let item of wine; let i = index" class="content-row">
    <td class="order">{{ i + 1 }}</td>
    <td class="code">{{ item?.codewine }}</td>
    <td class="name">{{ item?.namewine }}</td>
    <td class="date">{{ item?.created_date | date : "dd/MM/yyyy" }}</td>
    <td class="link">
      <svg
      width="24"
      height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 6.5v3H7v-3h3zM11.5 5h-6v6h6V5zM10 14.5v3H7v-3h3zm1.5-1.5h-6v6h6v-6zM18 6.5v3h-3v-3h3zM19.5 5h-6v6h6V5zm-6 8H15v1.5h-1.5V13zm1.5 1.5h1.5V16H15v-1.5zm1.5-1.5H18v1.5h-1.5V13zm-3 3H15v1.5h-1.5V16zm1.5 1.5h1.5V19H15v-1.5zm1.5-1.5H18v1.5h-1.5V16zm1.5-1.5h1.5V16H18v-1.5zm0 3h1.5V19H18v-1.5zM21.5 7c-.55 0-1-.45-1-1V4h-2c-.55 0-1-.45-1-1s.45-1 1-1h3c.55 0 1 .45 1 1v3c0 .55-.45 1-1 1zm1 14v-3c0-.55-.45-1-1-1s-1 .45-1 1v2h-2c-.55 0-1 .45-1 1s.45 1 1 1h3c.55 0 1-.45 1-1zm-19 1h3c.55 0 1-.45 1-1s-.45-1-1-1h-2v-2c0-.55-.45-1-1-1s-1 .45-1 1v3c0 .55.45 1 1 1zm-1-19v3c0 .55.45 1 1 1s1-.45 1-1V4h2c.55 0 1-.45 1-1s-.45-1-1-1h-3c-.55 0-1 .45-1 1z"
          fill="#22493B"
        />
      </svg>
    </td>
    <td>
      <div class="Frame-35" type="button" (click)="handleVisibility()">
        <div *ngIf="!init == true; else content" class="content">
          <span class="content">
            {{ item?.otp }}
          </span>

          <svg class="visibility"width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 6.47c2.76 0 5 2.24 5 5 0 .51-.1 1-.24 1.46l3.06 3.06c1.39-1.23 2.49-2.77 3.18-4.53-1.73-4.38-6-7.49-11-7.49-1.27 0-2.49.2-3.64.57l2.17 2.17c.47-.14.96-.24 1.47-.24zM2.71 3.13a.996.996 0 0 0 0 1.41l1.97 1.97A11.892 11.892 0 0 0 1 11.47c1.73 4.39 6 7.5 11 7.5 1.52 0 2.97-.3 4.31-.82l2.72 2.72a.996.996 0 1 0 1.41-1.41L4.13 3.13c-.39-.39-1.03-.39-1.42 0zM12 16.47c-2.76 0-5-2.24-5-5 0-.77.18-1.5.49-2.14l1.57 1.57c-.03.18-.06.37-.06.57 0 1.66 1.34 3 3 3 .2 0 .38-.03.57-.07l1.57 1.57c-.65.32-1.37.5-2.14.5zm2.97-5.33a2.97 2.97 0 0 0-2.64-2.64l2.64 2.64z" fill="#72787F"/>
        </svg>
        </div>
        <ng-template #content>
          <span class="content">
            ••••
          </span>
          <svg
            class="visibility"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"
              fill="#72787F"
            />
          </svg>
        
        </ng-template>

      </div>
    </td>
    <td class="handle-status">
      <div class="chips-atom">
        <div *ngIf="item?.is_hidden == true; else handle" class="handle">
          <span class="Content-active"> Đã kích hoạt </span>
        </div>
        <ng-template #handle>
          <span class="Content-unactive"> Chưa kích hoạt </span>
        </ng-template>
      </div>
    </td>
    <td class="handle">
      <div type="button" (click)="handleUpdate(item?.codewine)">
        <svg
          width="25"
          height="24"
          viewBox="0 0 25 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m14.559 9.02.92.92L6.419 19h-.92v-.92l9.06-9.06zm3.6-6.02c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83a.996.996 0 0 0 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3.499 17.25V21h3.75l11.06-11.06-3.75-3.75z"
            fill="#22493B"
          />
        </svg>
      </div>

      <div type="button" (click)="HandleDelte(item?.codewine)">
        <svg
          width="25"
          height="24"
          viewBox="0 0 25 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.5 9v10h-8V9h8zM15 3h-5L9 4H5.5v2h14V4H16l-1-1zm3.5 4h-12v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"
            fill="#22493B"
          />
        </svg>
      </div>
    </td>
  </tr>
</table>
<div class="pagination">
  <div class="items-per-page">
    <span class="S-dng-trn-trang"> Số dòng trên trang: </span>
    <select
      class="form-select form-select-sm"
      aria-label="Small select example"
      (change)="HandleClick($event)"
    >
      <option value="10">10</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
    </select>
  </div>
  <div class="paging">
    <button
      type="button"
      class="material-symbols-outlined left"
      (click)="HandlePrevPage()"
      [disabled]="isPrev"
    >
      chevron_left
    </button>
    <span id="first" class="unactive-atom">
      {{ item1 }}
    </span>
    <span id="second" *ngIf="item2" class="unactive-atom">
      {{ item2 }}
    </span>
    <span id="third" *ngIf="item3" class="unactive-atom">
      {{ item3 }}
    </span>
    <button
      type="button"
      class="material-symbols-outlined right"
      [disabled]="isNext"
      (click)="HandleNextPage()"
    >
      chevron_right
    </button>
  </div>
</div>
<section class="z-3 position-fixed section-placeholder" *ngIf="isAdd">
  <div class="modal_overlay">
    <div class="loading" *ngIf="loading">
      <div class="spinner-grow" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="modal_inner">
      <div class="form_heading">
        <span class="Title"> {{ titleForm }}</span>
        <button
          class="material-symbols-outlined"
          id="cancel"
          style="color: #22493b; background-color: #e2f1ef; border: none"
          type="button"
          (click)="closeFunction()"
        >
          close
        </button>
      </div>
      <form id="inputForm" [formGroup]="inputForm" novalidate>
        <div class="inner">
          <div class="inputs">
            <span class="Thng-tin-chung"> Thông tin chung </span>
            <div class="row">
              <div class="input-code">
                <label>
                  Mã sản phẩm
                  <span style="color: red"> * </span>
                </label>
                <input
                  type="text"
                  style="color: black"
                  placeholder="Nhập mã sâm của bạn vào đây"
                  formControlName="code"
                  required
                  id="codeInput"
                  #code
                  [disabled]="isEdit.valueOf()"
                  (change)="checkValid()"
                />
              </div>
              <div class="input-name">
                <label>
                  Tên sản phẩm
                  <span style="color: red"> * </span>
                </label>
                <input
                  type="text"
                  style="color: black"
                  placeholder="Nhập tên sâm của bạn vào đây"
                  formControlName="name"
                  id="nameInput"
                  (change)="checkValid()"
                  required
                  #name
                />
              </div>
            </div>
            <div class="row">
              <div class="input-code" type="button">
                <label style="color: #454c53">
                  Ngày tạo
                  <span style="color: red"> * </span>
                </label>
                <div class="Placeholder">
                  <input
                    class="Placeholder"
                    type="text"
                    style="color: black"
                    placeholder="Nhập ngày tạo"
                    formControlName="date"
                    (change)="checkValid()"
                    id="date"
                    #date
                  />
                  <svg
                    class="date_range"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="red"
                    xmlns="http://www.w3.org/2000/svg"
                    type="button"
                    (click)="toggleCalendar()"
                  >
                    <path
                      d="M19 4h-1V3c0-.55-.45-1-1-1s-1 .45-1 1v1H8V3c0-.55-.45-1-1-1s-1 .45-1 1v1H5c-1.11 0-1.99.9-1.99 2L3 20a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 15c0 .55-.45 1-1 1H6c-.55 0-1-.45-1-1V9h14v10zM7 11h2v2H7v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2z"
                      fill="#9EA4AA"
                    />
                  </svg>
                  <mat-card
                    class="demo-inline-calendar-card z-3"
                    *ngIf="showCalendar"
                  >
                    <mat-calendar
                      [(selected)]="selected"
                      (selectedChange)="onDateSelected($event)"
                    ></mat-calendar>
                  </mat-card>
                </div>
              </div>
              <div class="input-resource" >
                <label style="color: #3b927d; width: 140px; margin-top: 25px;">
                  Đơn vị
                  <span style="color: red"> * </span>
                </label>
                <div class="container-switch">
                  <input
                    type="text"
                    style="color: black"
                    placeholder="Nhập đơn vị ở đây"
                    id="resourceInput"
                    #unit
                    formControlName="unit"
                    [(ngModel)]="unitValue"
                    (input)="handleUnit()"
                    inputmode="numeric"
                  />
                  <div class="switch-unit">
                    <span class="switch">
                      <input type="checkbox" id="switcher"  checked (click)="handleClick($event)"/>
                      <label
                        for="switcher"
                        style="width: 31px; height: 24px; font-size: 12px"
                      >
                      </label>
                    </span>
                  </div>
                </div>
                <span class="Helper-text" > = {{display}}</span>
              </div>

              <button class="QRCODE" [disabled]="isDisable" (click)="handleCreateQR(code)">
                <label style="color: #9ea4aa; width: 140px"> Mã QR </label>
                <div class="Placeholder">
                  <span class="Placeholder" id="display"> Xem mã QR </span>
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.5 6.5v3h-3v-3h3zM11 5H5v6h6V5zm-1.5 9.5v3h-3v-3h3zM11 13H5v6h6v-6zm6.5-6.5v3h-3v-3h3zM19 5h-6v6h6V5zm-6 8h1.5v1.5H13V13zm1.5 1.5H16V16h-1.5v-1.5zM16 13h1.5v1.5H16V13zm-3 3h1.5v1.5H13V16zm1.5 1.5H16V19h-1.5v-1.5zM16 16h1.5v1.5H16V16zm1.5-1.5H19V16h-1.5v-1.5zm0 3H19V19h-1.5v-1.5zM21 7c-.55 0-1-.45-1-1V4h-2c-.55 0-1-.45-1-1s.45-1 1-1h3c.55 0 1 .45 1 1v3c0 .55-.45 1-1 1zm1 14v-3c0-.55-.45-1-1-1s-1 .45-1 1v2h-2c-.55 0-1 .45-1 1s.45 1 1 1h3c.55 0 1-.45 1-1zM3 22h3c.55 0 1-.45 1-1s-.45-1-1-1H4v-2c0-.55-.45-1-1-1s-1 .45-1 1v3c0 .55.45 1 1 1zM2 3v3c0 .55.45 1 1 1s1-.45 1-1V4h2c.55 0 1-.45 1-1s-.45-1-1-1H3c-.55 0-1 .45-1 1z"
                      fill="#9EA4AA"
                    />
                  </svg>
                </div>
              </button>
            </div>
          </div>
          <div class="link-ginseng">
            <label style="color: #454c53; width: 100%">
              Liên kết với mã sâm (nếu có)
            </label>
            <div class="inputGinseng">
              <input
                type="text"
                placeholder="Chọn hoặc tìm kiếm mã sâm"
                class="input-type"
                list="scripts"
                id="inputCodeGinseng"
                #codeGinseng
              />
              <!--  -->
              <select
                class="input-chose"
                (change)="handleChoseGinsengCode($event)"
              >
                <svg
                  type="button"
                  class="input-chose"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="m8.125 9 3.88 3.88L15.885 9a.996.996 0 1 1 1.41 1.41L12.705 15a.996.996 0 0 1-1.41 0l-4.59-4.59a.996.996 0 0 1 0-1.41c.39-.38 1.03-.39 1.42 0z"
                    fill="#9EA4AA"
                  />
                </svg>
                <option value="" disabled selected hidden></option>
                <option *ngFor="let code of ArrayGinseng" [value]="code.code">
                  {{ code.name }} - {{ code.code }}
                </option>
              </select>
            </div>
            <datalist id="scripts">
              <option value="" disabled selected hidden></option>
              <option *ngFor="let code of ArrayGinseng" [value]="code.code">
                {{ code.code }}
              </option>
            </datalist>
          </div>
          <div class="inputs">
            <span class="Thng-tin-chung"> Thông tin chi tiết </span>
            <div class="row">
              <div class="input-code" style="width: 345px; height: 100px">
                <label style="color: #454c53; width: 150px">
                  Tác dụng của sản phẩm
                  <span style="color: red"> * </span>
                </label>
                <textarea
                  class="text-area"
                  placeholder="Nhập tác dụng của sản phẩm tại đây"
                  id="effectInput"
                  formControlName="effect"
                  (change)="checkValid()"
                  required
                  #effect
                ></textarea>
              </div>
              <div class="input-name" style="width: 335px; height: 100px">
                <label style="color: #454c53; width: 150px">
                  Thông tin khác (nếu có)
                </label>
                <textarea
                  class="text-area"
                  placeholder="Nhập các thông tin bổ sung tại đây"
                  id="more_info"
                  #more_info
                ></textarea>
              </div>
            </div>
          </div>
          <div
            class="inputs"
            style="margin-top: 2%; margin-bottom: 5px; width: 100%"
          >
            <div class="row">
              <div
                (drop)="handleImageDrop($event)"
                (dragover)="allowDrop($event)"
                (dragenter)="handleDragEnter($event)"
                id="drag"
              >
                <div class="attach-image">
                  <label style="color: #3b927d; width: 150px">
                    Hình ảnh sâm (tối đa 5 ảnh)
                    <span style="color: red"> * </span>
                  </label>
                  <div class="upload">
                    <div
                      id="image-render"
                      class="attachment-atom active"
                      *ngFor="let image of imagesArray; let i = index"
                    >
                      <img
                        [src]="image"
                        alt=""
                        class="render-atom"
                        (load)="imageLoaded()"
                        id="imageRender"
                      />
                      <div
                        class="deleted"
                        type="button"
                        (click)="deleteImage(i)"
                      >
                        <svg
                          widt
                          h="16"
                          height="16"
                          viewBox="0 0 16 16"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="clear"
                        >
                          <path
                            d="M12.2 3.807a.664.664 0 0 0-.94 0L8 7.06 4.74 3.8a.664.664 0 1 0-.94.94L7.06 8 3.8 11.26a.664.664 0 1 0 .94.94L8 8.94l3.26 3.26a.664.664 0 1 0 .94-.94L8.94 8l3.26-3.26a.668.668 0 0 0 0-.933z"
                            fill="#fff"
                          />
                        </svg>
                      </div>
                    </div>
                    <div class="attachment-atom" *ngIf="isRender">
                      <input
                        id="button"
                        type="file"
                        accept="image/*"
                        formControlName="image"
                        (change)="handleUploadImage($event)"
                        hidden
                      />
                      <svg
                        type="button"
                        (click)="uploadImage()"
                        class="add-image"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M18 13h-5v5c0 .55-.45 1-1 1s-1-.45-1-1v-5H6c-.55 0-1-.45-1-1s.45-1 1-1h5V6c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1z"
                          fill="#22493B"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="action-bar z-2">
            <div class="right-actions">
              <div
                class="Buttons-cancels btn btn-light"
                type="button"
                (click)="closeFunction()"
              >
                <span class="cancel"> Hủy </span>
              </div>
              <button
                [disabled]="isDisable"
                class="Buttons-add btn btn-success"
                id="btnAdd"
                type="button"
                (click)="handleSend(code, name, date, unit,  codeGinseng, effect, more_info)"
              >
                <span class="add"> {{ footerForm }} </span>
              </button> 
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="z-3 position-fixed section-placeholder" *ngIf="isDelete">
  <div class="modal_overlay">
    <div
      class="modal_inner"
      style="width: 727px; height: 363px; margin-top: 10%"
    >
      <div class="form_heading">
        <span class="Title"> Xóa mục </span>
        <button
          class="material-symbols-outlined"
          id="cancel"
          style="color: #22493b; background-color: #e2f1ef; border: none"
          type="button"
          (click)="handleClose()"
        >
          close
        </button>
      </div>
      <div class="inner-content">
        <svg
          width="24"
          height="25"
          viewBox="0 0 24 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11 7.5h2v2h-2v-2zm0 4h2v6h-2v-6zm1-9c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"
            fill="#D32F2F"
          />
        </svg>

        <span class="Content"> Bạn có chắc chắn xóa mục này? </span>
      </div>
      <div class="deletedButton">
        <div class="right-actionsDeleted">
          <div
            class="Buttons-cancels btn btn-light"
            type="button"
            (click)="handleClose()"
          >
            <span class="cancel"> Hủy </span>
          </div>
          <button
            class="Buttons-delete btn btn-danger"
            type="button"
            (click)="HandleDelte(codeWine)"
          >
            <span class="add"> Xóa </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="z-3 position-fixed section-placeholder" *ngIf="isQR">
  <div class="modal_overlay">
    <div
      class="modal_inner"
      style="width: 727px; height: 630px; margin-top: 4%"
    >
      <div class="form_heading">
        <span class="Title"> Xem trước mã QR </span>
        <button
          class="material-symbols-outlined"
          id="cancel"
          style="color: #22493b; background-color: #e2f1ef; border: none"
          type="button"
          (click)="handleExit()"
        >
          close
        </button>
      </div>
      <div class="inner-content">
        <svg
          width="24"
          height="25"
          viewBox="0 0 24 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11 7.5h2v2h-2v-2zm0 4h2v6h-2v-6zm1-9c-5.52 0-10 4.48-10 10s4.48 10 10 10 10-4.48 10-10-4.48-10-10-10zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"
            fill="#D32F2F"
          />
        </svg>

        
        <span class="Content"> Bạn sẽ tạo sản phẩm mới sau khi bấm tải về
          <div class="Content " *ngIf="isQR">
            <qrcode #qrcode  class="Content-qr"  [qrdata]="angularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
          </div>
         </span>
      </div>
      <div class="deletedButton" style="margin-top: 47.3%;">
        <div class="right-actionsDeleted">
          <div
            class="Buttons-cancels btn btn-light"
            type="button"
            (click)="handleExit()"
          >
          
            <span class="cancel"> Hủy </span>
          </div>
          <button
            class="btn btn-primary"
            type="button"
            style="width: 90px; "
            (click)="downloadQRCode()"
          >
            <span class="add" > Tải về  </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

